    <meta name="HandheldFriendly" content="true">
    <meta name="format-detection" content="telephone=no">
    <meta charset="UTF-8">
    <meta name="description" content="Tired of doctors who rush and prescribe more pills? Dr. John Kim, Pharm.D., offers a functional medicine approach that focuses on root causes, not quick fixes.">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">
    <meta name="author" content="John Kim">
    <meta name="robots" content="index, follow">
    <meta name="googlebot" content="index, follow">
    <meta name="referrer" content="no-referrer-when-downgrade">
    <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
    <meta name="theme-color" content="#FFFFFF">

    <link rel="canonical" href="https://maxmishchenko.github.io/KIM/"> <!--Дописать-->
    <link rel="preload" href="./css/main.css?v=1.7" as="style">
    <link href="./css/main.css?v=1.7" rel="stylesheet">
    <link href="./img/favicon/favicon_120.svg" rel="icon" sizes="120x120" type="image/svg+xml">
    <link href="./img/favicon/favicon_144.svg" rel="icon" sizes="144x144" type="image/svg+xml">

    <link rel="icon" type="image/png" href="./img/favicon/favicon-96x96.png" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="./img/favicon/favicon.svg" />
    <link rel="shortcut icon" href="./img/favicon/favicon.ico" />
    <link rel="apple-touch-icon" sizes="180x180" href="./img/favicon/apple-touch-icon.png" />
    <meta name="apple-mobile-web-app-title" content="" /> <!--Дописать-->
    <!--<link rel="manifest" href="/site.webmanifest" />--> <!--Дописать-->

    <!-- Open Graph (Facebook, Viber, Discord, Instagram DM, Telegram, LinkedIn) -->
    <meta property="og:type" content="website">
    <meta property="og:title" content=""> <!--Дописать-->
    <meta property="og:description" content=""> <!--Дописать-->
    <meta property="og:url" content=""> <!--Дописать-->
    <meta property="og:image" content=""> <!--Дописать-->
    <meta property="og:site_name" content=""> <!--Дописать-->
    <meta property="og:locale" content="en_EN">

    <!-- Twitter Cards -->
    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:title" content=""> <!--Дописать-->
    <meta name="twitter:description" content=""> <!--Дописать-->
    <meta name="twitter:image" content=""> <!--Дописать-->
    <meta name="twitter:url" content=""> <!--Дописать-->

    <!-- Apple / iMessage -->
    <meta name="apple-mobile-web-app-title" content=""> <!--Дописать-->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="default">

    <!-- Pinterest -->
    <meta name="pinterest-rich-pin" content="true">

    <!-- Google -->
    <meta itemprop="name" content=""> <!--Дописать-->
    <meta itemprop="description" content=""> <!--Дописать-->
    <meta itemprop="image" content=""> <!--Дописать-->

    <link rel="alternate" hreflang="en" href="https://maxmishchenko.github.io/KIM/"> <!--Дописать-->