<nav class="breadcrumbs pt--32 pl--32 pr--32 mb--24">
    <div class="container full--width full--height m--auto">
        <ul class="flex align--center gap--8">
            <li>
                <a href="/KIM/" class="flex font--primary font--normal font--16 lh--150 color--text-gray">Home</a>
            </li>

            <li>
                <svg xmlns="http://www.w3.org/2000/svg" width="10" height="10" viewBox="0 0 10 10" fill="none">
                    <path d="M2.5 9.5L7.5 5.5L2.5 1.5" stroke="#707070" stroke-linecap="round"/>
                </svg>
            </li>

            <li>
                <a href="#" class="flex font--primary font--normal font--16 lh--150 color--dark-blue">Blog</a>
            </li>
        </ul>
    </div>
</nav>