.popup {
    width: 100%;
    width: calc(100% - 64px);
    position: relative;
    max-height: 90vh;
    overflow-y: auto;
    pointer-events: auto;
    max-width: 695px;

    @media (min-width: 768px) {
        padding: 32px;
        gap: 32px;

        &__title {
            @include font(48);
        }

        &__text {
            @include font(18);
        }

        &__icon {
            width: 48px;
            height: 48px;
        }
    }

    &__overlay {
        inset: 0;
        background-color: rgba(0, 0, 0, .51);
        z-index: 1000;
        overflow-y: auto;

        &.active {
            display: flex;
        }
    }

    &__img {
        object-fit: cover;
        width: 100%;
        height: auto;
    }

    &__form {
        &-field {
            &::placeholder {
                font-family: 'Inter';
                @include font(16);
                font-weight: 400;
                color: var(--color--text-gray);
                line-height: 150%;

                @media (min-width: 768px) {
                    @include font(18);
                }
            }
        }

        @media (min-width: 768px) {
            flex-direction: row;

            &-field {
                height: 59px;
                width: 100%;
                @include font(18);
            }

            &-btn {
                height: 59px;
                @include font(18);
                flex-shrink: 0;
            }
        }
    }

    &__close {
        top: 8px;
        right: 8px;

        @media (min-width: 768px) {
            right: 16px;
            top: 16px;
        }
    }
}
