.encore {
    &__img {
        width: 100%;
        height: 50.313vw;
        background-position: center;
        background-repeat: no-repeat;
        background-size: contain;
        background-image: url('../img/sections/main/section-encore/bg-encore.webp');
    }
}