.testimonials {
    @media (min-width: 1024px) {
        padding-left: 64px;
        padding-right: 64px;

        &__title {
            @include font(48);
        }

        &__header {
            flex-direction: row;
            align-items: center;
            justify-content: space-between;
        }
    }

    &__text {
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 14;
        overflow: hidden;

        @media (min-width: 768px) {
            display: flex;

            &-secondary {
                display: flex !important;

                @media (min-width: 1024px) {
                    @include font(18);
                }
            }
        }

        @media (min-width: 1024px) {
            @include font(18);
        }
    }

    &__wrapper {
        overflow-x: hidden;
    }

    &__slide {
        min-height: 640px;

        @media (min-width: 768px) {
            min-height: 992px;

            &-btn {
                display: none;
            }
        }

        @media (min-width: 1024px) {
            min-height: 926px;
            height: 100%;
        }

        @media (min-width: 1280px) {
            min-height: 726px;
        }
    }
}