.insights {
    @media (min-width: 768px) {
        &:before,
        &:after {
            content: '';
            position: absolute;
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            width: 200.45px;
            height: 100%;
            top: 0;
            z-index: 1;

            @media (min-width: 1024px) {
                width: 260px;
            }
        }

        &:before {
            background-image: url('../img/sections/main/section-insights/bg-left.svg');
            left: 0;
        }

        &:after {
            background-image: url('../img/sections/main/section-insights/bg-right.svg');
            right: 0;
        }
    }

    &__container {
        z-index: 2;
    }

    &__btn {
        max-width: 256px;

        @media (min-width: 1024px) {
            @include font(18);
            max-width: 283px;
            width: 100%;
        }
    }

    &__text {
        max-width: 605px;

        @media (min-width: 1024px) {
            @include font(24);
        }
    }

    @media (min-width: 1024px) {
        padding-left: 64px;
        padding-right: 64px;

        &__title {
            @include font(48);
        }
    }
}