.about {
    &__container {
        margin-bottom: 12px;
        max-width: 256px;
        overflow: visible;

        &:before,
        &:after {
            content: '';
            display: block;
            width: 140px;
            height: 171.55px;
            background-color: var(--color--blue-hover);
            position: absolute;
            z-index: -1;
        }

        &:before {
            left: -12px;
            top: -12px;
        }

        &:after {
            right: -12px;
            bottom: -12px;
        }
    }

    &__img {
        object-fit: cover;
        object-position: top;
    }
}