.footer {
    @media (min-width: 1024px) {
        padding-left: 64px;
        padding-right: 64px;
        gap: 32px;

        &__nav {
            flex-direction: row;
            gap: normal;
            width: 100%;
            justify-content: space-evenly;

            &-container {
                flex-direction: row;
                gap: normal;
                width: 100%;
            }

            &-links {
                display: none;
            }

            &-link {
                transition: .4s ease;

                &:hover {
                    color: var(--color--blue-hover);
                }
            }
        }

        &__header {
            &-links {
                display: flex;
            }
        }

        &__container {
            flex-direction: row;
            gap: normal;
        }
    }

    &__form {
        @media (min-width: 768px) {
            flex-direction: row;
        }

        @media (min-width: 1280px) {
            &-container {
                width: 517px;
            }
        }

        &-field {
            max-width: 330px;
            width: 100%;

            &::placeholder {
                font-family: 'Inter';
                @include font(16);
                font-weight: 400;
                color: var(--color--text-gray);
                line-height: 150%;
            }
        }
    }

    &__text {
        max-width: 665px;
    }
}