.footer {
    @media (min-width: 1024px) {
        padding-left: 64px;
        padding-right: 64px;

        &__nav {
            flex-direction: row;
        }
    }

    &__form {
        @media (min-width: 768px) {
            flex-direction: row;
        }

        &-field {
            max-width: 330px;
            width: 100%;

            &::placeholder {
                font-family: 'Inter';
                @include font(16);
                font-weight: 400;
                color: var(--color--text-gray);
                line-height: 150%;
            }
        }
    }

    &__text {
        max-width: 665px;
    }
}