<nav class="desktop-menu align--center hidden">
    <ul class="desktop-menu__list flex align--center gap--24">
        <li class="desktop-menu__list-item">
            <a href="#" class="desktop-menu__link flex font--primary font--normal font--16 lh--150 color--white">About Me</a>
        </li>

        <li class="desktop-menu__list-item">
            <a href="#" class="desktop-menu__link flex font--primary font--normal font--16 lh--150 color--white">The ENCORE Method</a>
        </li>

        <li class="desktop-menu__list-item">
            <a href="#" class="desktop-menu__link flex font--primary font--normal font--16 lh--150 color--white">Consultation</a>
        </li>

        <li class="desktop-menu__list-item">
            <a href="#" class="desktop-menu__link flex font--primary font--normal font--16 lh--150 color--white">Courses</a>
        </li>

        <li class="desktop-menu__list-item">
            <a href="#" class="desktop-menu__link flex font--primary font--normal font--16 lh--150 color--white">My Favorite</a>
        </li>

        <li class="desktop-menu__list-item">
            <a href="#" class="desktop-menu__link flex font--primary font--normal font--16 lh--150 color--white">Blog</a>
        </li>

        <li class="desktop-menu__list-item">
            <button type="button" id="mobileMenuDropdownBtn" class="desktop-menu__link desktop-menu__dropdown-btn flex align--center">
                <span class="font--primary font--normal font--16 lh--150 color--white mr--4">Resources</span>

                <svg id="mobileMenuDropdownChevron" class="desktop-menu__list-icon" xmlns="http://www.w3.org/2000/svg" width="10" height="11" viewBox="0 0 10 11" fill="none">
                    <path d="M1 3.5L5 8.5L9 3.5" stroke="white" stroke-linecap="round"/>
                </svg>
            </button>

            <ul id="mobileMenuDropdownList" class="desktop-menu__dropdown hidden">
                <li class="pt--16 pb--16">
                    <a href="#" class="flex font--primary font--16 font--normal lh--150 color--white">Free Resources</a>
                </li>

                <li class="pb--16">
                    <a href="#" class="flex font--primary font--16 font--normal lh--150 color--white">Books</a>
                </li>

                <li class="pb--16">
                    <a href="#" class="flex font--primary font--16 font--normal lh--150 color--white">Podcast</a>
                </li>

                <li>
                    <a href="#" class="flex font--primary font--16 font--normal lh--150 color--white">YouTube</a>
                </li>
            </ul>
        </li>

        <li class="desktop-menu__list-item">
            <a href="#" class="desktop-menu__link flex font--primary font--normal font--16 lh--150 color--white">Contact</a>
        </li>
    </ul>
</nav>