<div class="popup__overlay position--fixed hidden justify--center align--center" id="popup">
    <div class="popup bg--deco-blue br--16 pt--32 pb--32 pl--16 pr--16 flex flex--column gap--24">
        <button class="popup__close position--absolute btn" aria-label="Close popup">
            <svg class="popup__icon" xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
                <path d="M32 16C32 24.8366 24.8366 32 16 32C7.16344 32 0 24.8366 0 16C0 7.16344 7.16344 0 16 0C24.8366 0 32 7.16344 32 16Z" fill="#EFF4FF"/>
                <path d="M8.21691 23.4787C7.9277 23.1838 7.9277 22.7056 8.21691 22.4107L22.1316 8.2212C22.4208 7.92627 22.8897 7.92627 23.1789 8.2212C23.4681 8.51612 23.4681 8.9943 23.1789 9.28922L9.26425 23.4787C8.97504 23.7737 8.50613 23.7737 8.21691 23.4787Z" fill="#00309F"/>
                <path d="M8.82108 8.52125C9.1103 8.22633 9.57921 8.22633 9.86843 8.52125L23.7831 22.7108C24.0723 23.0057 24.0723 23.4839 23.7831 23.7788C23.4939 24.0737 23.025 24.0737 22.7357 23.7788L8.82108 9.58928C8.53187 9.29435 8.53187 8.81618 8.82108 8.52125Z" fill="#00309F"/>
            </svg>
        </button>

        <img loading="lazy" class="popup__img br--8" width="224" height="126" src="./img/popup/main/image-popup.webp" alt="The wellness blueprint">

        <div class="flex flex--column gap--16">
            <h2 class="popup__title font--secondary font--32 font--bold lh--105 color--dark-blue text--center">Have you subscribed to my newsletter?</h2>

            <p class="popup__text font--primary font--16 font--normal lh--150 color--text-black text--center">Subscribe for expert tips on functional medicine, detox, and holistic health — delivered to your inbox.</p>

            <form action="#" class="popup__form flex flex--column gap--8">
                <input type="email" name="email" autocomplete="on" class="popup__form-field bg--white btn pt--16 pb--16 pl--16 pr--16 color--text-black font--normal font--primary font--16" placeholder="Email">

                <button type="submit" class="popup__form-btn btn btn--secondary btn--hover btn--hover-secondary bg--btn-secondary color--white font--primary font--normal font--16 flex align--center justify--center">Sign Up</button>
            </form>
        </div>
    </div>
</div>
