.store {
    background-image: url('../img/sections/main/section-store/bg-line.svg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

    @media (min-width: 768px) {
        background-size: inherit;
    }

    @media (min-width: 1024px) {
        padding-left: 64px;
        padding-right: 64px;
        background-size: cover;
    }

    &__title {
        max-width: 660px;

        @media (min-width: 1024px) {
            @include font(48);
        }
    }

    &__text {
        max-width: 660px;

        @media (min-width: 1024px) {
            @include font(24);
        }
    }
}