.info {
    @media (min-width: 768px) {
        &__container {
            gap: 32px;

            @media (min-width: 1024px) {
                flex-direction: row;
            }
        }
    }

    @media (min-width: 1024px) {
        padding-left: 64px;
        padding-right: 64px;

        &__title {
            @include font(32);
        }

        &__subtitle {
            @include font(18);
        }

        &__text {
            @include font(18);

            &:nth-of-type(1) {
                padding-right: 42px;
            }
        }

        &__subtext {
            max-width: 550px;
        }
    }

    &__blockquote {
        border-left: 2px solid var(--color--dark-blue);

        @media (min-width: 1024px) {
            @include font(18);
            max-width: 622px;
            margin-top: 16px;
        }
    }

    &__btn {
        max-width: 256px;

        @media (min-width: 1024px) {
            @include font(18);
            max-width: 283px;
            width: 100%;
        }
    }
}
