.hero {
    @media (min-width: 768px) {
        &__container {
            gap: 32px;
        }
    }

    @media (min-width: 1024px) {
        padding-left: 64px;
        padding-right: 64px;

        &__title {
            @include font(48);
        }

        &__wrapper {
            flex-direction: row;
            gap: 32px;
        }
    }

    &__block {
        @media (min-width: 768px) {
            &:nth-of-type(1) {
                gap: 32px;
            }
        }

        @media (min-width: 1024px) {
            padding-top: 16px;
            padding-bottom: 16px;

            &-text {
                @include font(18);
                max-width: 600px;
            }
        }

        &-title {
            width: fit-content;

            @media (min-width: 1024px) {
                @include font(32);
            }
        }
    }

    &__btn {
        max-width: 256px;

        @media (min-width: 1024px) {
            @include font(18);
            max-width: 283px;
            width: 100%;
        }
    }

    &__img {
        width: calc(100vw - 64px);
        height: auto;

        @media (min-width: 1024px) {
            width: 40vw;
            max-width: 640px;
        }

        @media (min-width: 1440px) {
            width: auto;
        }
    }
}