.flex {
    display: flex;

    &--column {
        flex-direction: column;
    }

    &--no-shrink {
        flex-shrink: 0;
    }
}

.align {
    &--center {
        align-items: center;
    }
}

.justify {
    &--center {
        justify-content: center;
    }

    &--between {
        justify-content: space-between;
    }
}

.gap {
    &--8 {
        gap: 8px;
    }

    &--16 {
        gap: 16px;
    }

    &--24 {
        gap: 24px;
    }

    &--32 {
        gap: 32px;
    }
}

.grid {
    display: grid;
}

.p {
    &l {
        &--8 {
            padding-left: 8px;
        }

        &--16 {
            padding-left: 16px;
        }

        &--24 {
            padding-left: 24px;
        }

        &--32 {
            padding-left: 32px;
        }

        &--48 {
            padding-left: 48px;
        }
    }

    &r {
        &--8 {
            padding-right: 8px;
        }

        &--16 {
            padding-right: 16px;
        }

        &--24 {
            padding-right: 24px;
        }

        &--32 {
            padding-right: 32px;
        }

        &--48 {
            padding-right: 48px;
        }
    }

    &t {
        &--8 {
            padding-top: 8px;
        }

        &--16 {
            padding-top: 16px;
        }

        &--24 {
            padding-top: 24px;
        }

        &--32 {
            padding-top: 32px;
        }

        &--48 {
            padding-top: 48px;
        }

        &--168 {
            padding-top: 168px;
        }
    }

    &b {
        &--8 {
            padding-bottom: 8px;
        }

        &--16 {
            padding-bottom: 16px;
        }

        &--24 {
            padding-bottom: 24px;
        }

        &--32 {
            padding-bottom: 32px;
        }

        &--48 {
            padding-bottom: 48px;
        }

        &--168 {
            padding-bottom: 168px;
        }
    }
}

.m {
    &--auto {
        margin-left: auto;
        margin-right: auto;
    }

    &b {
        &--8 {
            margin-bottom: 8px;
        }

        &--16 {
            margin-bottom: 16px;
        }

        &--24 {
            margin-bottom: 24px;
        }
    }

    &r {
        &--4 {
            margin-right: 4px;
        }
    }
}

.color {
    &--white {
        color: var(--color--white);
    }

    &--saphire {
        color: var(--color--saphire);
    }

    &--dark-blue {
        color: var(--color--dark-blue);
    }

    &--text-black {
        color: var(--color--text-black);
    }

    &--text-gray {
        color: var(--color--text-gray);
    }

    &--muted-blue {
        color: var(--color--muted-blue);
    }

    &--decor-blue {
        color: var(--color--decor-blue);
    }
}

.bg {
    &--dark-blue {
        background-color: var(--color--dark-blue);
    }

    &--light-blue {
        background-color: var(--color--light-blue);
    }

    &--white {
        background-color: var(--color--white);
    }

    &--deco-blue {
        background-color: var(--color--deco-blue);
    }

    &--light-deco-blue {
        background-color: var(--color--light-deco-blue);
    }

    &--btn-secondary {
        background-color: var(--color--btn-secondary);
    }

    &--btn-blue {
        background-color: var(--color--primary-btn-blue);
    }

    &--super-light-blue {
        background-color: var(--color--super-light-blue);
    }

    &--decor-blue {
        background-color: var(--color--decor-blue);
    }
}

.br {
    &--circle {
        border-radius: 50%;
    }

    &--4 {
        border-radius: 4px;
    }

    &--8 {
        border-radius: 8px;
    }

    &--16 {
        border-radius: 16px;
    }
}

.font {
    &--normal {
        font-weight: 400;
    }

    &--medium {
        font-weight: 500;
    }

    &--bold {
        font-weight: 700;
    }

    &--primary {
        font-family: 'Inter', sans-serif;
    }

    &--secondary {
        font-family: 'Sansation', sans-serif;
    }

    &--italic {
        font-style: italic;
    }

    &--16 {
        @include font(16);
    }

    &--18 {
        @include font(18);
    }

    &--20 {
        @include font(20);
    }

    &--24 {
        @include font(24);
    }

    &--32 {
        @include font(32);
    }

    &--40 {
        @include font(40);
    }
}

.text {
    &--center {
        text-align: center;
    }
}

.position {
    &--fixed {
        position: fixed;
    }

    &--absolute {
        position: absolute;
    }

    &--relative {
        position: relative;
    }
}

.lh {
    &--105 {
        line-height: 105%;
    }

    &--150 {
        line-height: 150%;
    }
}

.btn {
    height: 56px;
    border-radius: 100px;

    @media (min-width: 1024px) {
        height: 59px;

        &--hover {
            position: relative;
            z-index: 0;
            overflow: hidden;
            transition: background-position .6s ease, color .6s ease;
            border-radius: 100px;

            &:before {
                content: '';
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: 100px;
                transform: translateX(-100%);
                transition: transform .7s ease;
                z-index: -1;
            }

            &:hover {
                background-position: 0 0;

                &:before {
                    transform: translateX(0);
                    transition: transform .45s ease;
                }
            }

            &-blue {
                color: var(--color--dark-blue);
                background: linear-gradient(90deg, var(--color--blue-hover) 50%, var(--color--white) 50%) 100% 0 / 200% no-repeat;

                &:before {
                    background-color: var(--color--blue-hover);
                }

                &:hover {
                    color: var(--color--white);
                }
            }

            &-secondary {
                background: linear-gradient(90deg, var(--color--blue-hover) 50%, var(--color--btn-secondary) 50%) 100% 0 / 200% no-repeat;

                &:before {
                    background-color: var(--color--blue-hover);
                }
            }

            &-transparent {
                background: linear-gradient(90deg, var(--color--super-light-blue) 50%, var(--color--white) 50%) 100% 0 / 200% no-repeat;

                &:before {
                    background-color: var(--color--super-light-blue);
                }

                &-header {
                    background: linear-gradient(90deg, var(--color--super-light-blue) 50%, var(--color--dark-blue) 50%) 100% 0 / 200% no-repeat;

                    &:before {
                        background-color: var(--color--super-light-blue);
                    }

                    &:hover {
                        * {
                            color: var(--color--dark-blue);
                            fill: var(--color--dark-blue);
                        }
                    }
                }
            }

            &-dark-blue {
                background: linear-gradient(90deg, var(--color--dark-blue-hover) 50%, var(--color--primary-btn-blue) 50%) 100% 0 / 200% no-repeat;

                &:before {
                    background-color: var(--color--dark-blue-hover);
                }
            }
        }
    }

    &--border {
        border: 1px solid var(--color--dark-blue);
    }

    &--secondary {
        width: 169px;
    }

    &--transparent {
        background-color: transparent;
    }
}

.divider {
    height: 1px;
    width: 100%;
}

.hidden {
    display: none;
}

.pointer {
    cursor: pointer;
}

.container {
    max-width: 1440px;
}

.full {
    &--width {
        width: 100%;
    }

    &--height {
        height: 100%;
    }
}

@media (min-width: 1024px) {
    .hover {
        &--link {
            width: fit-content;

            &:after {
                position: absolute;
                content: '';
                left: 0;
                right: 0;
                bottom: 0;
                width: 0;
                height: 1px;
                background-color: var(--color--white);
                display: block;
                transition: width .4s ease-in-out;
            }

            &:hover {
                &:after {
                    width: 100%;
                }
            }
        }
    }
}
