:root {
    --color--saphire: #00145B;
    --color--muted-blue: #003962;
    --color--dark-blue: #00309F;
    --color--primary-btn-blue: #0044E2;
    --color--btn-secondary: #3A75FF;
    --color--blue-hover: #2F5ECB;
    --color--text-black: #2B2B2B;
    --color--text-gray: #707070;
    --color--light-blue: #B3CAFF;
    --color--decor-blue: #A9C3FF;
    --color--deco-blue: #D4E1FF;
    --color--super-light-blue: #EFF4FF;
    --color--white: #FFFFFF;
}