* {
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    padding-top: 80px;

    &.lock {
        overflow: hidden;
        pointer-events: none;
        user-select: none;
        user-focus-key: unset;
        user-focus-pointer: unset;
        user-focus: unset;
    }
}

main {
    flex: 1;
}