* {
    -webkit-appearance: none;
    appearance: none;
    -webkit-tap-highlight-color: transparent;
}

body {
    padding-top: 80px;

    &.lock {
        overflow: hidden;
        pointer-events: none;
    }
}

main {
    flex: 1;
}