<section class="about pl--32 pr--32 pt--168 pb--168 flex flex--column gap--24">
    <picture>
        <source srcset="./img/sections/main/section-about/image-john-kim-medium.webp" media="(min-width: 768px)" type="image/webp">

        <img loading="lazy" class="about__img" width="256" height="314" src="./img/sections/main/section-about/image-john-kim-small.webp" alt="John Kim, Pharm.D.">
    </picture>

    <div class="flex flex--column gap--24">
        <h2 class="font--32 font--bold font--secondary color--dark-blue lh--105">John Kim, Pharm.D.</h2>

        <div class="flex flex--column gap--16">
            <div class="flex flex--column gap--8">
                <p class="color--text-black font--normal font--16 font--primary lh--150">In June 2015, at age 33, I had a heart attack (NSTEMI) and received a stent. Despite exercising and eating “clean,” I missed the bigger picture.</p>

                <p class="color--text-black font--normal font--16 font--primary lh--150">Recovery was difficult. I experienced intense Herxheimer reactions (die off) and significant financial strain. In that season, I believe God met me and helped me connect key patterns: mitochondrial dysfunction, microbiome imbalance, environmental toxicity, and nervous system dysregulation. My body wasn’t failing—it was crying for help. Improvement came from restoring balance, not adding more pills. It was neither quick nor easy—but it worked.</p>

                <p class="color--text-black font--normal font--16 font--primary lh--150">I nearly lost my life to the very problems I now help people solve.I know what it's like to feel dismissed, to spend everything on treatments that don't work, and to fear that your own body is working against you.</p>

                <p class="color--text-black font--normal font--16 font--primary lh--150">If you recognize these symptoms, I invite you for the consultation and discuss the first steps to solve your problem.</p>
            </div>

            <a href="#" class="btn btn--border btn--secondary flex align--center justify--center pl--32 pr--32 color--dark-blue bg--white font--primary font--16 font--normal">More details</a>
        </div>
    </div>
</section>