<section class="hero pt--48 pb--48 pl--32 pr--32 flex flex--column justify--between gap--32">
    <div class="grid gap--24">
        <h1 class="hero__title font--40 font--bold color--white font--secondary">Get to the Root of Your <br> Chronic Health Issues</h1>

        <p class="hero__text font--20 font--normal color--white font--primary lh--150">If you're tired of doctors who spend 5 minutes with you and hand you another prescription, you're in the right place. I'm John Kim, Pharm.D., a functional medicine practitioner.</p>

        <div class="hero__clients bg--light-blue br--8 flex align--center gap--8 pt--8 pb--8 pl--8 pr--8">
            <div class="hero__client-wrapper flex align--center">
                <div class="hero__client br--circle flex flex--no-shrink"></div>
                <div class="hero__client br--circle flex flex--no-shrink position--relative"></div>
                <div class="hero__client br--circle flex flex--no-shrink position--relative"></div>
            </div>

            <span class="hero__subtext font--16 font--normal color--saphire font--primary">100+ satisfied clients</span>
        </div>
    </div>

    <a href="https://drkimwellness.practicebetter.io/#/5f49219d2a98230a8456e04d/bookings?s=63b35f3c6e15eebc522b2dee&step=date" target="_blank" rel="noopener noreferrer" class="hero__btn btn btn--hover btn--hover-blue bg--white color--dark-blue flex align--center justify--center font--normal font--16 font--primary">Book A Discovery Call</a>
</section>