<section class="consultation bg--deco-blue pt--32 pb--32 pl--32 pr--32 flex flex--column gap--24">
    <h2 class="font--secondary font--bold font--32 color--dark-blue lh--105">Consultation</h2>

    <p class="font--16 font--normal font--primary color--text-black lh--150">I work with clients who've hit walls with traditional healthcare. People who know something is wrong but can't get to the root of it. If you're ready to look beyond surface symptoms and understand what's actually driving your health challenges, this call is designed for you.</p>

    <div class="consultation__container bg--white pt--16 pb--16 pl--16 pr--16 br--8 flex flex--column gap--24">
        <div class="flex flex--column gap--16">
            <h3 class="font--secondary font--24 font--normal color--dark-blue lh--105">Discovery Call</h3>

            <p class="font--primary font--normal font--16 lh--150 color--text-black">Before beginning any therapeutic relationship, I conduct a discovery consultation. This session allows you to present your health concerns while I outline my clinical approach and methodology. We use this time to determine therapeutic compatibility and establish whether my support framework aligns with your health objectives.</p>

            <div class="pt--16 pb--16 pl--16 pr--16 bg--deco-blue flex flex--column gap--16 br--4">
                <h4 class="font--primary font--20 font--normal color--muted-blue lh--150">Initial Consultation</h4>

                <div class="consultation__wrapper flex flex--column gap--8">
                    <div class="consultation__block pt--16 pb--16 pl--16 pr--16 flex flex--column gap--8 align--center justify--center bg--white">
                        <span class="font--primary font--20 font--medium color--dark-blue text--center lh--150">45 min</span>
                        <span class="font--primary font--18 font--normal color--text-gray lh--150">Length</span>
                    </div>

                    <div class="consultation__block pt--16 pb--16 pl--16 pr--16 flex flex--column gap--8 align--center justify--center bg--white">
                        <span class="font--primary font--20 font--medium color--dark-blue text--center lh--150">Online/ Video chat</span>
                        <span class="font--primary font--18 font--normal color--text-gray lh--150">Format</span>
                    </div>

                    <div class="consultation__block pt--16 pb--16 pl--16 pr--16 flex flex--column gap--8 align--center justify--center bg--white">
                        <span class="font--primary font--20 font--medium color--dark-blue text--center lh--150">$250</span>
                        <span class="font--primary font--18 font--normal color--text-gray lh--150">Fee</span>
                    </div>
                </div>

                <p class="font--primary font--16 font--normal color--text-black lh--150">Upon completion, you will have clarity regarding therapeutic focus areas and specific steps to initiate your recovery process.</p>
            </div>
        </div>

        <div class="consultation__btn-container flex flex--column gap--16">
            <a href="https://drkimwellness.practicebetter.io/#/5f49219d2a98230a8456e04d/bookings?s=63b35f3c6e15eebc522b2dee&step=date" target="_blank" rel="noopener noreferrer" class="consultation__btn btn flex align--center justify--center pl--32 pr--32 font--primary font--16 font--normal color--white bg--btn-blue">Book A Discovery Call</a>

            <a href="#" class="btn btn--border btn--secondary flex align--center justify--center pl--32 pr--32 color--dark-blue bg--white font--primary font--16 font--normal">More details</a>
        </div>
    </div>
</section>