<section class="store pt--32 pb--32 pl--32 pr--32 bg--deco-blue flex flex--column align--center justify--center gap--24 text--center">
    <div class="flex flex--column gap--16">
        <h2 class="font--secondary font--32 font--bold lh--105 color--dark-blue">Kim Wellness Curated Supplement Store</h2>

        <p class="font--primary font--20 color--text-black font--normal lh--150">Here you can purchase supplements. Each product meets quality standards required for recovery cases.</p>
    </div>

    <a href="#" class="btn btn--secondary bg--btn-secondary color--white font--primary font--normal font--16 flex align--center justify--center">Go To</a>
</section>