<section class="info pt--168 pb--168 pl--32 pr--32">
    <div class="container full--width full--height m--auto flex flex--column gap--24">
        <h2 class="info__title font--secondary font--24 font--normal color--dark-blue lh--105">During this call, we will discuss:</h2>

        <hr class="divider bg--deco-blue">

        <div class="info__container flex flex--column gap--24">
            <p class="info__text font--primary font--normal font--16 color--text-black lh--150">Your comprehensive health history evaluation and symptom  analysis</p>

            <hr class="divider bg--deco-blue">

            <p class="info__text font--primary font--normal font--16 color--text-black lh--150">Report of Finding, and connecting clinical gaps</p>

            <hr class="divider bg--deco-blue">

            <p class="info__text font--primary font--normal font--16 color--text-black lh--150">Nutritional assessment and lifestyle factor evaluation</p>

            <hr class="divider bg--deco-blue">

            <p class="info__text font--primary font--normal font--16 color--text-black lh--150">Environmental and physiological stressor identification that may compromise recovery</p>

            <hr class="divider bg--deco-blue">

            <p class="info__text font--primary font--normal font--16 color--text-black lh--150">Development of a prioritized support action plan with implementation guidelines</p>

            <hr class="divider bg--deco-blue">
        </div>
    </div>
</section>