<section class="social pt--168 pb--168 pl--32 pr--32 flex flex--column gap--24">
    <div class="flex flex--column gap--16">
        <h2 class="social__title font--secondary font--bold font--32 lh--105 color--dark-blue">My instagram</h2>

        <p class="social__subtitle font--primary font--16 font--normal color--text-black lh--150">Subscribe to my Instagram — there you will find a lot of useful information.</p>
    </div>

    <div class="social__posts flex flex--column gap--24">
        <a href="https://www.instagram.com/p/DOzXhiggk5V/?img_index=1" target="_blank" rel="noopener noreferrer" class="social__post flex" aria-label="Dr. John Kim | Cellular Detox Mentor Instagram">
            <img loading="lazy" class="social__img" src="./img/sections/main/section-social/image-social-1.webp" alt="Dr. John Kim | Cellular Detox Mentor Instagram" width="256" height="331">
        </a>

        <a href="https://www.instagram.com/p/DJaPGIhyo0g/?img_index=1" target="_blank" rel="noopener noreferrer" class="social__post flex" aria-label="Dr. John Kim | Cellular Detox Mentor Instagram">
            <img loading="lazy" class="social__img" src="./img/sections/main/section-social/image-social-2.webp" alt="Dr. John Kim | Cellular Detox Mentor Instagram" width="256" height="331">
        </a>

        <a href="https://www.instagram.com/p/DOt4i3ADRt-/" target="_blank" rel="noopener noreferrer" class="social__post flex" aria-label="Dr. John Kim | Cellular Detox Mentor Instagram">
            <img loading="lazy" class="social__img" src="./img/sections/main/section-social/image-social-3.webp" alt="Dr. John Kim | Cellular Detox Mentor Instagram" width="256" height="331">
        </a>
    </div>
</section>